.footer {
	
	color: $text-color-white;
	display: flex;
	justify-content: space-between;
}
.footer div {
	display: flex;
	padding: 15px;
	align-items: center;
}
.footer span {
	margin-left: 5px;
}
@media screen and (max-width: 420px) {
	#hidden {
		display: none;
	}
		.footer div {
			display:block;
			padding: 15px;
			align-items: center;
			font-size: 0.9rem;
		}
} 
	

