.home {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../media/images/workday.jpeg") center center/cover no-repeat;

height: 100vh;
text-align: center;
color: $text-color-white;
display: flex;
flex-direction: column;
justify-content: center;
}
h1 {
font-size: 3rem;
overflow: hidden;
border-right: .1rem solid $accent-color-green;
white-space: nowrap;
width: fit-content;
margin: 0 auto;
animation:
	typing 3.5s steps(40, end),
 	blink-caret 0.95s step-end infinite;
}
.welcome {
font-size: 1.8rem;
}

@media screen and (max-width: 420px) {
	.section {
		width: 100%;
	}

	h1 {
		font-size: 1.3rem;
		margin: 0px auto;
		
	}

}