.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color-white;
}
.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
  width: 100%;
}
.project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 20px;
  width: 80%;
  margin-bottom: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.8);
}
.project-name {
  margin-bottom: 30px;
  text-align: center;
}
.buttonFill {
  display: flex;
  justify-content: center;
}

.project-img {
  flex: 1;
}
.project-img img {
  width: 90%;
  border-radius: 10px;
}
.project-info {
  flex: 1;
  align-items: center;
}
.project-desc {
  padding: 0px 50px;
}
.project-links {
  display: flex;
  justify-content: space-evenly;
  .red {
    text-decoration: none;
  }
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
  .project {
    flex-direction: column;
    padding: 10px;
  }
  .project-img img {
    width: 100%;
  }
  .project-name {
    margin-top: 20px;
  }
  .project-desc {
    padding: 0px 20px;
  }
}
