// Shared
.page {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
}
.section {
	width: 80%;
	float: right;
}



// Headings

.h2-bg{
	font-weight: 900;
	font-size: 7rem;
	color: transparent;
	position: absolute;
	-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: rgba(255, 255, 255,0.5);
}
h2{
	color: $text-color-white;
	margin-top: 65px;
	position: absolute;
	border-bottom: 2px solid $accent-color-green;
	font-size: 2.3rem;
}

// Buttons
.button {
	margin-top: 10px;
	display: inline-block;
	border-radius: 20px;
	padding: 5px 20px;
	text-decoration: none;
	min-width: 115px;
	text-align: center;
	font-size: 1.1rem;
}
.hireMe {
	color: $accent-color-green;
	border: 2px solid $accent-color-green;
	background-color: transparent;
	
}
.hireMe:hover{
	animation: buttonHover 0.8s forwards;
	cursor: pointer;
}
.buttonFill{
	margin-top: 20px;
	color: $text-color-white;
	background-color: $accent-color-green;
	border: 2px solid $accent-color-green;
	align-self: center;
}
.buttonFill:hover{
	animation: buttonHover 0.8s forwards;
	cursor: pointer;
}

// color classes 

.accent {
	color: $accent-color-green;
}
.darken {
	color: $text-color-Lgray;
}

// Media Queries
@media screen and (max-width: 420px) {
.h2-bg{
	margin-top: 20px;
	font-size: 3.4rem;
	overflow: hidden;
}
h2{
	margin-top: 50px;
}
.section {
	width: 100%;
}
body {
	background-color: rgb(24, 61, 180);
	background-image:
		radial-gradient(at 83% 56%, hsla(270, 100%, 40%, 1) 0px, transparent 50%),
		radial-gradient(at 43% 34%, hsla(240, 100%, 40%, 1) 0px, transparent 50%),
		radial-gradient(at 85% 33%, rgb(17, 33, 155) 0px, transparent 50%),
		radial-gradient(at 10% 71%, hsla(206, 100%, 40%, 1) 0px, transparent 50%),
		radial-gradient(at 80% 99%, hsla(240, 100%, 40%, 1) 0px, transparent 50%);
}

}
	
