// Colors 

$bg-color-dark: 
linear-gradient(0deg, rgba(97, 43, 120, 1) 0%, rgba(121, 55, 121, 1) 15%, rgba(119, 44, 72, 1) 30%, rgba(45, 24, 65, 1) 50%, rgba(2, 0, 36, 1) 100%);

$bg-color-light: 
linear-gradient(180deg, rgba(97, 43, 120, 1) 0%, rgba(121, 55, 121, 1) 15%, rgba(119, 44, 72, 1) 30%, rgba(45, 24, 65, 1) 50%, rgba(2, 0, 36, 1) 100%);


$bg-color-nav:
 linear-gradient(83+90deg, rgba(86, 86, 125, 1) 0%, rgba(2, 0, 36, 1) 67%, rgba(4, 7, 8, 1) 85%);

$bg-color-footer: linear-gradient(180deg, rgba(97, 43, 120, 1) 14%, rgba(121, 55, 121, 1) 49%, rgba(119, 44, 72, 1) 79%);






$text-color-white: #fff;
$text-color-Dgray: rgba(50, 22, 99, 0.4);
$text-color-Lgray: #999999;

$accent-color-green: #28A745;

// Fonts
$font-1: 'Poppins', sans-serif;

// background: rgb(86, 86, 125);
// background: 